@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono[wght].woff2') format('woff2-variations');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Italic[wght].woff2') format('woff2-variations');
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}

.styles-module_calendar__sT1ND text {
  fill: currentColor;
}

@layer base {
  :root {
    --background: 55 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 34 54% 81%;
    --primary-foreground: 44 100% 55%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --additive: 112 50% 36%;
    --additive-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --third: 180 100% 50%;
    --chart-1: 34 54% 81%;
    --chart-2: 34 34% 73%;
    --chart-3: 35 22% 65%;
    --chart-4: 35 16% 57%;
    --chart-5: 35 12% 41%;
    --chart-6: 33 12% 33%;
    --chart-7: 32 12% 25%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 34 54% 81%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --additive: 112 50% 36%;
    --additive-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --third: 180 100% 50%;
    --chart-1: 34 54% 81%;
    --chart-2: 34 34% 73%;
    --chart-3: 35 22% 65%;
    --chart-4: 35 16% 57%;
    --chart-5: 35 12% 41%;
    --chart-6: 33 12% 33%;
    --chart-7: 32 12% 25%;
  }

  *,
  *::before,
  *::after {
    @apply border-border;
  }

  html {
    color-scheme: dark;
    @apply forced-color-adjust-none bg-background text-foreground;

    ::-webkit-scrollbar-corner {
      @apply bg-transparent;
    }
  }


  .disable-transitions,
  .disable-transitions * {
    @apply !transition-none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Iceland', cursive;
  }
}

@media (prefers-color-scheme: dark) {

  :not(pre)>code {
    @apply relative rounded bg-muted/50 px-[0.3rem] py-[0.2rem] font-mono text-sm font-medium before: !content-none after: !content-none;
  }

  figure[data-rehype-pretty-code-figure] {
    @apply relative;

    /* Code block titles */
    [data-rehype-pretty-code-title] {
      @apply break-words rounded-t-xl border-x border-t px-4 py-2 text-sm font-medium text-foreground;

      /* Remove top margin from code block if a title is present */
      &+pre {
        @apply mt-0 rounded-t-none;
      }
    }

    pre::-webkit-scrollbar {
      @apply h-2.5 w-2.5;
    }

    pre::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    pre::-webkit-scrollbar-thumb {
      @apply rounded-full bg-border bg-clip-padding p-px;
    }

    pre {
      @apply static max-h-[600px] overflow-auto rounded-xl border bg-secondary/20 py-4 text-sm leading-loose;

      /* Code block content */
      >code {
        @apply whitespace-pre-wrap;
        counter-reset: step;
        counter-increment: step 0;

        /* For code blocks with line numbers */
        .line::before {
          content: counter(step);
          counter-increment: step;
          width: 1rem;
          margin-right: 1.5rem;
          display: inline-block;
          text-align: right;
          color: rgba(115, 138, 148, .4);
        }

        /* For each line in the code block */
        >[data-line] {
          @apply px-4;
        }

        /* Highlighted lines */
        [data-highlighted-line] {
          @apply bg-foreground/10;
        }

        /* Highlighted characters */
        [data-highlighted-chars]>span {
          @apply bg-muted-foreground/40 py-[7px];
        }

        .tab {
          @apply relative;
        }

        .tab::before {
          @apply absolute opacity-30;
          content: '⇥';
        }

        /* Skip lines */
        .skip {
          @apply my-2 bg-foreground/5 text-center text-foreground;

          &::before {
            content: '' !important;
          }
        }

        .diff {
          &.add {
            @apply bg-additive/15;
          }

          &.remove {
            @apply bg-destructive/15;

            &::before {
              content: '-';
              counter-increment: none;
            }
          }

          &.highlight {
            @apply bg-foreground/10;
          }
        }

        /* Copy button */
        >button:has(> span) {
          @apply right-1 top-1 m-0 size-8 rounded-lg bg-secondary p-1 backdrop-blur-none transition-all duration-200;
        }
      }
    }
  }

}

/* code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
} */

/* Hacker Enhancements */
.glitch-hover {
  position: relative;
  display: inline-block;
}

.glitch-hover:hover {
  animation: glitch-anim-1 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: var(--primary);
}

.glitch-hover:hover::before,
.glitch-hover:hover::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  opacity: 0.8;
}

.glitch-hover:hover::before {
  left: 2px;
  text-shadow: -1px 0 red;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim-2 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite alternate;
}

.glitch-hover:hover::after {
  left: -2px;
  text-shadow: -1px 0 blue;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim-3 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite alternate;
}

@keyframes glitch-anim-1 {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 2px)
  }

  40% {
    transform: translate(-2px, -2px)
  }

  60% {
    transform: translate(2px, 2px)
  }

  80% {
    transform: translate(2px, -2px)
  }

  100% {
    transform: translate(0)
  }
}

/* Animated CRT Noise Effect using a real noise image */
.noise-bg::before {
  content: "";
  position: fixed;
  /* using fixed instead of absolute so it stays on screen without expanding body size */
  inset: -200%;
  opacity: 0.08;
  background-image: url('/noise.bmp');
  background-repeat: repeat;
  pointer-events: none;
  z-index: 9999;
  animation: shift 0.2s linear infinite both;
}

@keyframes shift {
  0% {
    transform: translateX(10%) translateY(10%);
  }

  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}



@keyframes static-noise {
  0% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-1%, -1%)
  }

  20% {
    transform: translate(-2%, 1%)
  }

  30% {
    transform: translate(1%, -2%)
  }

  40% {
    transform: translate(-1%, 3%)
  }

  50% {
    transform: translate(-2%, 1%)
  }

  60% {
    transform: translate(3%, 0)
  }

  70% {
    transform: translate(0, 3%)
  }

  80% {
    transform: translate(1%, 7%)
  }

  90% {
    transform: translate(-2%, 2%)
  }

  100% {
    transform: translate(0, 0)
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip: rect(25px, 9999px, 94px, 0)
  }

  20% {
    clip: rect(6px, 9999px, 83px, 0)
  }

  40% {
    clip: rect(98px, 9999px, 5px, 0)
  }

  60% {
    clip: rect(80px, 9999px, 59px, 0)
  }

  80% {
    clip: rect(38px, 9999px, 49px, 0)
  }

  100% {
    clip: rect(42px, 9999px, 46px, 0)
  }
}

@keyframes glitch-anim-3 {
  0% {
    clip: rect(35px, 9999px, 84px, 0)
  }

  20% {
    clip: rect(18px, 9999px, 7px, 0)
  }

  40% {
    clip: rect(69px, 9999px, 12px, 0)
  }

  60% {
    clip: rect(10px, 9999px, 2px, 0)
  }

  80% {
    clip: rect(96px, 9999px, 26px, 0)
  }

  100% {
    clip: rect(72px, 9999px, 78px, 0)
  }
}