---
import Container from "@/components/Container.astro";
import Link from "@/components/Link.astro";
import { NAV_LINKS } from "@/consts";
import MobileMenu from "./react/ui/mobile-menu";
---

<header
  class="sticky top-0 z-10 bg-background/50 backdrop-blur-md"
  transition:persist
>
  <Container>
    <div class="flex flex-wrap items-center justify-between gap-4">
      <Link
        href="/"
        class="text-xl font-bold font-mono text-primary-400 hover:text-green-500 transition-colors glitch-hover"
        style="font-family: 'Iceland', cursive;"
        data-text=">_ Crash0v3rr1d3's h0sT"
      >
        &gt;_ Crash0v3rr1d3's h0sT
      </Link>
      <div class="flex items-center gap-2 sm:gap-4">
        <nav class="hidden items-center gap-4 text-sm sm:flex sm:gap-6">
          {
            NAV_LINKS.map((item) => (
              <Link
                href={item.href}
                class="capitalize text-foreground/60 transition-colors hover:text-foreground/80"
              >
                {item.label}
              </Link>
            ))
          }
        </nav>
        <MobileMenu client:load transition:persist />
        <!-- <ModeToggle client:load transition:persist /> -->
      </div>
    </div>
  </Container>
</header>
